<!DOCTYPE html>
<html lang="en">
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link th:href="@{/libs/bootstrap/css/bootstrap.css}" rel="stylesheet"/>
    <script th:src="@{/libs/jquery/jquery-3.3.1.min.js}"></script>
    <script th:src="@{/libs/popper/popper.min.js}" ></script>
    <script th:src="@{/libs/bootstrap/js/bootstrap.min.js}" ></script>
</head>
<body>
<div class="container my-4">
    <div class="row py-5">
        <div class="jumbotron">
            <h1 class="display-4">您还没有登录！请登录！</h1>
            <a  th:href="@{/admin/login}" class="lead" target="_top">登录</a>


        </div>
    </div>
</div>
</body>
</html>