<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>登出成功</title>
    <link rel="stylesheet" href="/libs/layui/css/layui.css" media="all">
    <script src="/libs/layui/layui.js"></script>
    <script type="text/javascript">
        layui.use('layer', function(){
            var layer = layui.layer;
            layer.confirm('您已成功退出登录！', {
                btn: ['前往登录界面',"前往首页"] ,//按钮
                    closeBtn:0
            }, function(){
                location.href='/user/login'
            },
            function () {
                location.href='/'
            });
        });



    </script>
</head>
<body>
</body>
</html>