<!DOCTYPE html>
<html lang="en">
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link th:href="@{/libs/bootstrap/css/bootstrap.css}" rel="stylesheet"/>
    <script th:src="@{/libs/jquery/jquery-3.3.1.min.js}"></script>
    <script th:src="@{/libs/popper/popper.min.js}" ></script>
    <script th:src="@{/libs/bootstrap/js/bootstrap.min.js}" ></script>
    <style>
        #errmsg{
            color:red;
        }
    </style>
    <script th:inline="javascript">
        $(function () {

            $.ajax({
                    url: "/attracMgr/getAttracType",
                    type: "get",
                    data: null,
                    //async:false,
                    success: function (data) {
                        console.log(data)
                        //$("#attracttype").prepend("<option value='0'>请选择</option>");
                        for (var i = 0; i < data.data.length; i++) {
                            var tid=[[${attracDetail.attracType.attracTypeId}]];
                            $("#attracttype").append
                            ("<option value='" + data.data[i].attracTypeId + "'  >" + data.data[i].attracTypeName + "</option>");
                        }

                        $("#attracttype").find("option[value=[[${attracDetail.attracType.attracTypeId}]]]").attr("selected",true);
                    }
                }
            );


            $.ajax({
                    url: "/attracMgr/getCity",
                    type: "get",
                    data: null,
                    //async:false,
                    success: function (data) {
                        console.log(data)
                        //$("#city").prepend("<option value='0'>请选择</option>");
                        for (var i = 0; i < data.data.length; i++) {

                            $("#city").append
                            ("<option  value='" + data.data[i].cityId + "'>" + data.data[i].cityName+'/'+data.data[i].cityEngName + "</option>");

                        }

                        $("#city").find("option[value=[[${attracDetail.attracCity.cityId}]]]").attr("selected",true);
                    }
                }
            );


            $.ajax({
                    url: "/attracMgr/getAttracPic/"+[[${attracDetail.attracId}]],
                    type: "get",
                    data: null,
                    success: function (data) {
                        console.log(data)
                        var singlePic=data.data.split("###")
                        //console.log(singlePic.length)
                        for (var i = 0; i < singlePic.length; i++) {
                            $("#oldPic").append
                            ("<img id='pic'"+i.toString()+ " src='data:image/png;base64," + singlePic[i] + "'/>");
                        }
                    }
                }
            )

        });
    </script>
    <style>
        #oldPic img{
            margin: 5px;
            width: 150px;
            height: 150px;
        }
        .newPic img{
            margin: 5px;
        }
    </style>
</head>
<body>
<div class="container">
    <div id="wrapper">
        <a th:href="@{/attracMgr/loadAllAttractions}"> <button type="submit" class="btn btn-primary btn-sm"> 返回列表 </button></a>
        <h3 class="py-3">景点详情</h3>
            <div class="form-group">
                <label >景点ID</label>
                <input type="text" class="form-control form-control-sm" th:field="*{attracDetail.attracId}"  disabled>
            </div>
            <div class="form-group">
                <label >景点名</label>
                <input type="text" class="form-control form-control-sm" th:field="*{attracDetail.attracName}" disabled>
            </div>
            <div class="form-group">
                <label >景点所在地</label>
                <select id="city" class="form-control" name="city"disabled>
                </select>
            </div>
            <div class="form-group">
                <label >具体地址</label>
                <input type="text" class="form-control form-control-sm"  th:field="*{attracDetail.attracAdd}" disabled>
            </div>
            <div class="form-group">
                <label >景点类型</label>
                <select id="attracttype" class="form-control" name="type" disabled>
                    <option value='0'>请选择</option>
                </select>
            </div>
            <div class="form-group">
                <label >景点配图</label>
                <div id="oldPic">


                </div>
            </div>
            <div class="form-group">
                <label>景点备注</label>
                <textarea class="form-control" rows="3" th:field="*{attracDetail.attracTips}" disabled></textarea>
            </div>


    </div>
</div>
</body>
</html>